<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.refillmybottle.refilmybottle">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAcc" />
        <activity android:name=".Login" />
        <activity android:name=".Intro.Intro" />
        <activity android:name=".FragmentParent" />
        <activity android:name=".Intro.Slide" />
        <activity android:name=".Intro.Slide2" />
        <activity android:name=".Intro.Slide3" />
        <activity android:name=".Intro.Slide4" />
        <activity android:name=".Intro.Slide5" />
        <activity android:name=".newrefill.FormRefill" />
        <activity android:name=".Event.CalendarEvent" />
        <activity android:name=".Maps.DetailMaps" />
        <activity android:name=".Profile.EditProfile" />
        <activity android:name=".Profile.AccountSetting" />
        <activity android:name=".Profile.EditEmail"></activity>
    </application>

</manifest>